.box {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  margin: 70px;
  height: 500px;
  max-height: 35vh;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
  box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
}

.box-1 {
  display: flex;
  display: grid;
  justify-content: center;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.grid > div {
  flex-basis: calc(20% - 20px);
}

.jumbo {
  height: 450px;
  background-image: url('https://images.pexels.com/photos/111117/pexels-photo-111117.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: cover;
}

.jumbo-color-1 {
  color: #ffffff;
}