/* * {
  font-family: 'Lato', sans-serif;
} */

.main-footer {
  color: #ffffff;
  background-color: #000000 !important;
  padding-top: 3em;
}

i {
  margin-right: 20px;
}

.border-1{
  border: 1px solid #ffffff;
}

.border-2 {
  border: 1px solid #000000;
  padding-bottom: 0px;
}

my-container {

}

my-row {


}
my-col {

}