* {
  font-family: 'Lato', sans-serif;
}

.main-footer {
  color: #fff;
  background-color: #000000!important;
  padding-top: 3em;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

i {
  margin-right: 26px;
}

.border-1{
  border: 1px solid #fff;
}