* {
  font-family: 'Lato', sans-serif;
}

.main-footer {
  color: #000000;
  background-color: #f8f8f8!important;
  padding-top: 3em;
  width: 100%;
}

i {
  margin-right: 20px;
}

.border-1{
  border: 1px solid #000000;
}

.border-2 {
  border: 1px solid #000000;
  padding-bottom: 0px;
}

my-container {

}

my-row {


}
my-col {

}